
.list{
  text-decoration: none;
}
.bg-custom{
  background-color: #0D171A;
}
.copyright{
  font-size: 15px;
}
.copyright a{
  text-decoration: none;
  color: white;
}
.copyright a:hover{
  color: white;
}
.icon{
  text-decoration: none;
  color: white;
}
.icon:hover{
  color: white;
}
.socials-footer a{
  color: white;
  font-size: 20px;
  padding: 0 10px;
}
.socials-footer a:hover{
  color: white;
}